<ng-container *ngIf="!isMobile; else mobileMenu">
  <div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-4">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <ng-container *ngFor="let item of menuItems">
        <a
          href="#"
          routerLinkActive="bg-gray-900 text-white"
          [routerLink]="item.path"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          aria-current="page"
          >{{ item.name }}</a
        >
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #mobileMenu>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <ng-container *ngFor="let item of menuItems">
        <a
          href="#"
          routerLinkActive="bg-gray-900 text-white"
          [routerLink]="item.path"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          aria-current="page"
          >{{ item.name }}</a
        >
      </ng-container>
    </div>
  </div>
</ng-template>
